* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: Inter;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 12%);
  gap: 2em;
  width: 30em;
  height: 45em;
  border-radius: 10px;
  margin: 2em;
}

.id--pic {
  width: 100px;
  border-radius: 50px;
}

#location {
  color: hsl(75, 94%, 57%);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  
}

.social--media {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.social {
  width: 20rem;
  background-color: hsl(0, 0%, 20%);
  padding: 0.8rem;
  border-radius: 5px;
}

.social:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
.container {
  width: 25em;
}
}